<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBDzI71SAfZiF3AIF9yfxnpSc4B4SjWU_c</string>
	<key>GCM_SENDER_ID</key>
	<string>977447958495</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.alphaGo</string>
	<key>PROJECT_ID</key>
	<string>alpha-go-3ed0a</string>
	<key>STORAGE_BUCKET</key>
	<string>alpha-go-3ed0a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:977447958495:ios:0272c82895d7e4390fb66a</string>
</dict>
</plist>